@use "variables";

@mixin linkFormat {
    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
    }
    a:link {
        color: variables.$linkcolor;
    }

    a:visited {
        color: variables.$linkcolor;
    }

    a:focus {
        border-bottom: variables.$linkborderbottom;
    }

    a:hover {
        border-bottom: variables.$linkborderbottom;
        text-shadow: variables.$textshadow;
    }

    a:active {
        text-shadow: variables.$textshadow;
    }
}

body {
    max-width: max-content;
    margin: auto;
    font-family: arial;
    color: white;
    background-color: variables.$backgroundcolorprimary;
    // background: url(https://images.unsplash.com/photo-1581937019650-bb34507b7d64?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fHNwYWNlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=240)
    //     no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

@media screen and (max-width: 1200px) {
    .imagelogo {
        display: none;
    }
}

.container-top {
    display: flex;
}

h1 {
    text-align: center;
    text-shadow: variables.$textshadow;
}

h3 {
    text-align: center;
}

.container-middle {
    display: flex;
    flex-wrap: wrap;
    @include linkFormat();
}

.navigation {
    width: 200px;
    li {
        list-style: none;
        @include linkFormat();
        margin-bottom: 10px;
    }
}

.imagelogo {
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}
.logo {
    max-width: 1000px;
}

.eventframe {
    border-radius: 10px;
    padding: 10px;
    margin: 40px;
    box-shadow: variables.$boxshadow;
}

.eventpicture {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    transition: 1s;
}

// Utökar bilden med 10px motsvarand 200px*1,05
.detailpicturerow {
    display: flex;
    flex-direction: row;
    .eventpicture:hover {
        transform: scale(1.05);
    }
}

.ceo-picture {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
}

.formcontainer {
    margin-top: 50px;
    .form {
        box-shadow: variables.$boxshadow;
        display: inline-block;
        width: 1000px;
        border-radius: 10px;
        .formbox {
            margin: 10px;
            padding: 10px;
            textarea {
                resize: none;
            }
        }
    }
}

.contactblock {
    display: inline-flex;
    @include linkFormat();
}

.btn {
    background: none;
    border-radius: 10px;
    color: #d62222;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.btn:hover {
    border-color: #e94d4d;
    color: #e94d4d;
    box-shadow: variables.$boxshadow;
    transform: translateY(-0.25em);
    cursor: pointer;
}

#submitMessage {
    text-align: center;
}
