body {
    max-width: max-content;
    margin: auto;
    font-family: arial;
    // background: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1786&q=80)
    //     no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

@media screen and (max-width: 1200px) {
    .imagelogo {
        display: none;
    }
}

.container-top {
    display: flex;
}

h1 {
    text-align: center;
}
.container-middle {
    display: flex;
    flex-wrap: wrap;
}

.navigation {
    // background-color: green;
    width: 200px;
}

.navigation li {
    list-style: none;
}

.imagelogo {
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}
.logo {
    // background-color: purple;
    max-width: 1000px;
}

.eventframe {
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.eventpicture {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    // border: solid black 2px;
}
.detailpicture {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    object-fit: cover;
    transition: 1s;
}
// Utökar bilden med 10px motsvarand 200px*1,05
.detailpicture:hover {
    transform: scale(1.05);
}

.detailpicturerow {
    display: flex;
    flex-direction: row;
}

.form {
    display: inline-block;
}

.ceo-picture {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
}

.form {
    width: 1000px;
}

.formbox {
    margin: 10px;
    padding: 10px;
    border: solid black 2px;
    border-radius: 10px;
}

.formbox textarea {
    resize: none;
}

.contactblock {
    display: inline-flex;
}

.btn {
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    transition: 1s;
    background-color: white;
    border: solid black 1px;
}

.btn:hover {
    background-color: rgb(226, 221, 221);
}

#submitMessage {
    text-align: center;
}
